*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/game-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.bat{
    height: 100px;
}
.userhand{
    width: fit-content;
    background-image: url(assets/paper.jpg);
    height:300px;
    display: flex;
    /* border: 2px solid red; */
}
.handuser{
    height: 300px;
}
.clk{
    height: 200px;
    width: 200px;
    /* border: 2px solid red; */
    display: flex;
    /* justify-items: center; */ 
}
.main{
display: flex;
justify-content: space-between;
}
#clk{
    height: 75px;
}
.user{
     /* border: 2px solid red; */
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.comp{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    align-items: end;
}
.score{
    /* border: 2px solid red; */
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Caesar Dressing;
    font-size: 75px;
}

@media (max-width:600px){
    .main{
        flex-direction: column-reverse;
        /* justify-content: center; */
        height: 1313px;
        color: rgb(0, 0, 133);
    }
    .comp{
        width: 695px;
        height: 445px;
        align-items: end;
        /* border: 2px solid red; */
    }
    .user{
        width: fit-content;
    }
    .score{
       
        width: 700px;
        justify-content: center;
        height: 700px;
        align-items: center;
        /* border: 2px solid red; */
    }
    .clk{
        /* border: 2px solid red; */
        height: 200px;
        width: 698px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}